name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build-typescript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - name: Install Typescript dependencies
        run: bun install --frozen-lockfile
      - name: Build Typescript
        run: bun run build

  build-python:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install Python dependencies
        run: uv sync --frozen
      - name: Check Python formatting
        run: uv run ruff format --check
      - name: Python linter
        run: uv run ruff check
      - name: Run Python type checks
        run: uv run pyright
      - name: Run Python tests
        run: uv run pytest

  build-rust:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libwebkit2gtk-4.1-dev
      - name: Check Rust formatting
        run: cargo fmt -- --check
        working-directory: ./src-tauri
      - name: Rust linter
        run: cargo clippy -- -D warnings
        working-directory: ./src-tauri
      - name: Run Rust tests
        run: cargo test
        working-directory: ./src-tauri
