name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        include:
          - platform: "macos-latest"
          - platform: "ubuntu-latest"
          - platform: "ubuntu-24.04-arm"
          - platform: "windows-latest"

    runs-on: ${{ matrix.platform }}

    steps:
    - uses: actions/checkout@v6
    - name: install dependencies (ubuntu only)
      if: ${{ startsWith(matrix.platform, 'ubuntu-') }}
      run: |
        sudo apt-get update
        sudo apt-get install -y libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
        cache: "npm"
    - uses: dtolnay/rust-toolchain@stable
      with:
        components: rustfmt, clippy
    - name: Install Typescript dependencies
      run: npm ci
    - name: Build Typescript
      run: npm run build
    - name: Check Rust formatting
      run: cargo fmt -- --check
    - name: Rust linting
      run: cargo clippy -- -D warnings
    - name: Run Rust tests
      run: cargo test
