name: Rust

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Install OS dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
          libwebkit2gtk-4.1-dev

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy
      - uses: swatinem/rust-cache@v2
        with:
          workspaces: src-tauri
      - name: Check Rust formatting
        run: cargo fmt -- --check
        working-directory: ./src-tauri
      - name: Rust linting
        run: cargo clippy -- -D warnings
        working-directory: ./src-tauri
      - name: Run Rust tests
        run: cargo test
        working-directory: ./src-tauri
      - name: Install Typescript dependencies
        run: bun install --frozen-lockfile
      - name: Build Typescript
        run: bun run build
